
/*

     - .card
     - .card-header
     - .card-img-top
     - .card-block
     - .card-title
     - .card-text





*/


/*=======================card========================*/
.card {
  position: relative;
  border-radius: .25rem;
  background-color: #fff;
  @mixin clearfix;

  .card-header {
    padding: .6rem 1.25rem;
    background-color: #f5f5f5;
  }

  & .card-img-top {
    border-radius: .25rem .25rem 0 0;
  }
  & .card-title {
    margin-bottom: .75rem;
  }
  & .card-text:last-child {
    margin-bottom: 0;
  }
}

.card.info {
    &>.card-header {
        background-color: var(--brand-info);
    }
}

.card.card-sm {
    .card-header {
        padding: 0.3rem 1rem;
        &:after {
            right: 10px;
            top: 11px;
        }
    }
}

.card-block {
  padding: 1.25rem;
}
