.modal {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.6);
    z-index: 999;
    color: #000;
    & .modal-dialog {
        text-align: center;
        width: 270px;
        background: #f8f8f8;
        border-radius: 0;
        opacity: 1;
        transform: translate3d(0,0,0) scale(1);
        &.modal-animation-in {
            animation-name: scale-up-down;
        }
        @media screen and (--middle-viewport) {
            width: 540px;
        }
        & .modal-hd {
            padding: 15px 10px 5px;
            font-size: 1.4rem;
            font-weight: 500;
            & .close {
                position: absolute;
                top: 4px;
                right: 4px;
                cursor: pointer;
                width: 24px;
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
                color: #000;
                text-shadow: 0 1px 0 #fff;
                opacity: 0.2;
                transition: all 0.3s;
            }
            & .close:hover {
                transform: rotate(360deg);
            }
        }
        & .modal-bd {
            padding: 15px 10px;
            text-align: center;
            border-radius: 2px 2px 0 0;
        }
        & .modal-footer .col-1 {
            border-right: 1px solid #dedede;
            border-top: 1px solid #dedede;
        }
        & .modal-footer .col-1:last-child {
            border-right: none;
        }
        & .am-modal-hd+.am-modal-bd {
            padding-top: 0;
        }
    }
}
