.map-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 2px solid red;
}

.overlay-canvas {
    width: 100%;
    height: 100%;
}

.overlay-canvas canvas {
    cursor: crosshair;
    position: absolute;
    top:0;
    left:0;
}

.overlay-controls{
    position: absolute;
    top: 0;
    left: 0;
}
